# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

lab1_dx11/.vs/lab1_dx11/v17/
lab2_dx11/.vs/lab2_dx11/v17/
lab4/.vs/
lab6/.vs/
lab7/.vs/